 * {
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }
.container {
    display: inline-block;
    text-align: center;
}
    .flex-container {
        width: 512px;
        display: flex;
        text-align: justify;
        border: 1px solid black;
    }

    .flex-item-main {

        background-color: whitesmoke;
        padding: 15px;
        flex: 70%;
        color: black;
    }

    .flex-item-sidebar {
        background-color: #113147;
        flex: 30%;
        color: white;
        padding: 15px;
    }
    p {
        font-size: 10px;
    }
    i {
        font-size: 8px;
    }
    hr {
        margin: -10px;
    }

    h1 {
        text-align: left;
        font-size: 20px;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 12px;
        margin-bottom: 0px;
    }
    h5 {
        font-size: 8px;
        margin: 0px;
    }

    .flex-item-main p {
        margin: 4px 0px;
    }

    .flex-item-sidebar p {
        font-size: 10px;
    }

    th {
        width: 75px;
    }

    .box-text {
        width: 120%;
        padding: 10px 0;
        background-color: #010D15;
        border-top: inset;
        position: relative;
        left: -15px;
    }

    .box-text p {
        padding-left: 10px;
        margin: 0px;
        font-weight: 400;
        font-size: 11px;
    }
    b {
        font-size: 10px;
    }
    .firma {
        margin-top: 50px;
    }

    .img-container {
        position: relative;
        width: 100%;
    }

    img {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    .maindata {
        margin-top: 150px;
    }