<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="container" style="al">
        {% from "macros.html" import render_field %}
        <form action="{{ url_for('app_views.index') }}" style="display: inline-grid;" method="POST">
            <h3>Search user by username</h3>
            {{ render_field(form.username, class='form-control') }}
            {{ render_field(form.document, class='form-control') }}
            {{ render_field(form.address, class='form-control') }}
            {{ render_field(form.birth, class='form-control') }}
            {{ render_field(form.nation, class='form-control') }}
            {{ render_field(form.phone, class='form-control') }}
            {{ render_field(form.email, class='form-control') }}
            <button type="submit">Create</button>
        </form>        
    </div>
</body>
</html>