{% extends "template.html" %}
{% block title %}{{ title }} {% endblock title %}
{% block body %}
<div class="flex-container">
        <div class="flex-item-main">
            <div class="img-container">
                <img src="{{ picture }}" width="200px" height="260px" class="center"
                    alt="Profile-picture">
            </div>
            <div class="maindata">
                <hr>
                <h2>About me</h2>
                <hr>
                <p style="margin-top: 15px;">{{ summary }}
                </p>
                <br>
                <table>
                    {% for dat in jobdata %}
                    <tr>
                        <th colspan="2">
                            <h5>{{ dat.fromYear}}/{{ dat.fromMonth}}</h5>
                            <h5>{{ dat.toYear}}/{{ dat.toMonth}}</h5>
                        </th>

                        <td colspan="4">
                            <h3>{{ dat.name }}</h3>
                            <p><i>{{ orgs[loop.index0] }}</i></p>
                            {% for resp in dat.responsibilities %}
                            <p>{{ resp }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <table>
                    <tr>
                        <th colspan="6">
                            <hr>
                            <h2>Education</h2>
                            <hr>
                        </th>
                    </tr>
                    {%for dat in educationdata %}
                    <tr>
                        <th colspan="2">
                            <h5>{{ dat.fromYear}}/{{ dat.fromMonth}}</h5>
                            <h5>{{ dat.toYear}}/{{ dat.toMonth}}</h5>
                        </th>

                        <td colspan="4">
                            <h3>{{ dat.name}}</h3>
                            <p><i>{{ schools[loop.index0] }}</i></p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="firma">
                    <p>__________________________________</p>
                    <p><b>{{ name }}</b></p>
                    <p>{{ document }}</p>
                    <p>{{ location }}</p>
                </div>
            </div>
        </div>

        <!-- SIDEBAR-->
        <div class="flex-item-sidebar">
            <h1>{{ name }}</h1>
            <p style="text-align: center;">{{ proheadline }}</p>
            <div class="box-text">
                <p style="margin: 0px;">Contact</p>
            </div>
            <p><b>Address</b></p>
            <p>{{ personaldata.0 }}</p>
            <p><b>Birthday</b></p>
            <p>{{ personaldata.1 }}</p>
            <p><b>Nationality</b></p>
            <p>{{ personaldata.2 }}</p>
            <p><b>Phone</b></p>
            <p> {{ personaldata.3 }}</p>
            <p><b>Email</b></p>
            <p>{{ personaldata.4 }}</p>
            {% for dat in socialdata %}
            <p><b>{{ dat.name}}</b></p>
            <p>{{ dat.address}}</p>
            {% endfor %}
            <div class="box-text">
                <p>Skills</p>
            </div>
            {% for dat in skillsdata %}
            <p>{{ dat }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}